#home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  text-align: center;
  background-image: url('../img/swirl_pattern.png');
  border-bottom: 3px solid darkgrey;
  img {
    height: 250px;
    border: 8px solid white;
    border-radius: 100%;
  }
}
