#process {
  height: 170vh;
  text-align: center;

  h2 {
    margin-top: 0px;
    padding-top: 50px;
    color: $darkblue;
    font-size: 50px;
    @include tablet-breakpoint {
      font-size: 30px;
    }
  }

  #process-sections {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    height: 55vh;
    color: $darkblue;
    @include tablet-breakpoint {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 150vh;
    }
    h3 {
      font-size: 30px;
      @include tablet-breakpoint {
        font-size: 20px;
        align-self: flex-start;
      }
    }
    #ideation {
      @extend .section-styles;
      #ideation-image {
        background-image: url('../img/lightbulb.png');
        @extend .process-images;
      }
      p {
        text-align: left;
        font-family: 'Rubik', sans-serif;
      }
      @include tablet-breakpoint {
        width: 90%;
      }
    }

    #design {
      @extend .section-styles;
      #design-image {
        background-image: url('../img/tools.png');
        @extend .process-images;
      }
      p {
        text-align: left;
        font-family: 'Rubik', sans-serif;
      }
      @include tablet-breakpoint {
        width: 90%;
      }
    }

    #tools {
      @extend .section-styles;
      #tools-image {
        background-image: url('../img/computer.png');
        @extend .process-images;
      }
      p {
        text-align: left;
        font-family: 'Rubik', sans-serif;
      }
      @include tablet-breakpoint {
        width: 90%;
      }
    }
  }
}
