#process {
  height: 70vh;
  text-align: center;

  h2 {
    margin-top: 0px;
    padding-top: 50px;
  }

  #process-sections {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    height: 40vh;
    #ideation {
      @extend .process-section-styles;

    }
    #design {
      display: flex;
      @extend .process-section-styles;
      .process-borders {
        width: 60px;
        height: 60px;
        border-radius: 100%;
        background-color: darkgrey;
      }

    }
    #tools {
      @extend .process-section-styles;

    }
  }
}
