#nav {
  background-color: blue;
}


#home {
  background-color: green;
}


#process {
  background-color: purple;

  #ideation{
    background-color: yellow;
  }
  #design{
    background-color: yellow;
  }
  #tools{
    background-color: yellow;
  }
}


#portfolio {
  background-color: darkgrey;

  #project-1-card {
    background-color: red;
  }
  #project-2-card {
    background-color: red;
  }
  #project-3-card {
    background-color: red;
  }

}

#contact {
  background-color: aqua;
}
