


#portfolio {
  background-color: darkgrey;

  #project-1-card {
    background-color: red;
  }
  #project-2-card {
    background-color: red;
  }
  #project-3-card {
    background-color: red;
  }

}

#contact {
  background-color: aqua;
}
