#work {
  height: 65vh;
  text-align: center;
  color: $darkblue;
  background-color: $darkyellow;
  @include tablet-breakpoint {
    height: 80vh;
  }
  @include phone-breakpoint {
    height: 110vh;
  }

  h2 {
    margin-top: 0px;
    padding-top: 50px;
    font-size: 50px;
    @include tablet-breakpoint {
      font-size: 30px;
    }
    @include phone-breakpoint {
      font-size: 25px;
      margin-bottom: 0;
    }
  }
  #work-sections {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 40vh;

    h4 {
      font-size: 30px;
      @include tablet-breakpoint {
        font-size: 20px;
      }
    }
    a{
      text-decoration: none;
      color: $darkblue;
    }

    #project-1-card {
      @extend .section-styles;
      width: 380px;
      #project-1-img {
        background-image: url('../img/miyazaki.png');
        @extend .work-images;
      }
    }

    #project-2-card {
      @extend .section-styles;
      width: 380px;
      #project-2-img {
        background-image: url('../img/peach.png');
        @extend .work-images;
      }

    }

    #project-3-card {
      @extend .section-styles;
      width: 380px;
      #project-3-img {
        background-image: url('../img/packlandia.png');
        @extend .work-images;
      }
    }
  }
}

#project-1-card {
  #project-1-text {
    @extend .project-text;
  }
}

#project-2-card {
  #project-2-text {
    @extend .project-text;
  }
}

#project-3-card {
  #project-3-text {
    @extend .project-text;
  }
}
